/* CONTEÚDOS GENÉRICOS */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-weight: 550;
}

:root {
    /* Cores baseadas no documento de identidade visual do Senai. */
    --vermelho: #e30613;
    --branco: #ffff;
    --preto: #000000;
    --cinza: #878787;

    --sombra-padrao: rgba(0, 0, 0, 0.16) 0px 1px 6px;

    /* Tamanho dos Botões de ícones no header */

    --header-icon-size: 36px;
}

body {
    overflow-x: hidden;
    width: 100vw;
}

header {
    width: 100vw;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10000;
}

.header-red-container {
    background-color: var(--vermelho);
    width: 100vw;
    display: flex;
    height: 35px;
    padding-left: 1%;
    padding-right: 1%;
    justify-content: space-between;
    align-items: center;
}

.header-red-container > a {
    text-decoration: none;
    font-weight: 550;
    color: var(--branco);
}

.header-red-container > button, .header-white-container > button {
    width: var(--header-icon-size);
    height: var(--header-icon-size);
    font-size: var(--header-icon-size);
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
}

.hamburger-menu {
    display: flex;
    color: var(--branco);
    display: none;
    align-items: center;
    width: var(--header-icon-size);
    height: var(--header-icon-size);
    font-size: var(--header-icon-size);
    text-align: center;
}

.header-white-container {
    background-color: var(--branco);
    box-shadow: var(--sombra-padrao);
    padding: .5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.return-button {
    position: absolute;
    display: none;
    left: calc(1% - 5px);
}


.senai-logo {
    height: var(--header-icon-size);
}

main {
    padding-top: 1%;
    position: relative;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow-x: hidden; 
    gap: 100px;
    flex-wrap: wrap;
}

/* Inserindo a imagem de fundo */
main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("backgrounds/senai-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    opacity: 0.2;
    z-index: -1;
}

/* Página de login (index.html) */

.inputs {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
    gap: 10px;
    padding: 10px 50px 70px 50px;
    border-radius: 8px;
}

.inputs-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: auto;
    gap: 10px;
    padding: 1%;

}

.inputs-container > input {
    padding: 10px;
}

.carteirinha {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

.carteirinha-senai-logo {
    width: 40%;
    margin-bottom: 10%;
}

.informacoes-usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.carteirinha-pfp {
    width: 50%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #E00000;
}

.carteirinha > h3 {
    font-size: clamp(1rem, 2vw, 1.4rem);
    margin: 10px 0 20px;
}

.informacoes-carteirinha {
    text-align: left;
    margin-top: 20px;
}

.info-line-carteirinha {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.info-line-carteirinha > label {
    font-weight: regular;
    font-size: clamp(0.8rem, 1.5vw, 1rem); 
}

.info-line-carteirinha > p {
    font-size: clamp(1rem, 2vw, 1.2rem);
    margin: 5px 0;
    font-weight: bold;
}

.selo-img {
    width: 100%;
}

.selo-validade {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.curso {
    margin-top: 20px;
    font-size: clamp(0.9rem, 1.5vw, 1.1rem);
    font-weight: bold;
}

.curso-container-carteirinha {
    text-align: center;
    margin-top: 10%;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}